<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block extra_css %}{% endblock extra_css %}
    <title>Assistente Virtual</title>
</head>

<body>
    {% block content %}{% endblock content %}
    <script src="/static/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script crossorigin="anonymous"
      src="/static/js/index.js" type="module"></script> -->
    <script crossorigin="anonymous" src="/static/js/main.js"></script>
    {% block extra_js %}{% endblock extra_js %}

</body>

</html>